body{
  background-color: #9266ff;
}
.App{
  background-color: #3f3160;
  min-height: 500px;
  width: 400px;
  margin: 50px auto;
}
#to-do-form input{
  background-color: gainsboro;
  height: 50px;
  border: 0;
  width: 200px;
  padding: 0 20px;
  margin: 20px 10px;
  font-weight: 550;
  font-size: 16px;
  border-radius: 7px;
}
#to-do-form input::placeholder{
  color: #3f3160;
  font-weight: 600;
}
#to-do-form input:focus, #to-do-form button:focus{
  outline: none;
}
#to-do-form button{
  width: 80px;
  height: 51px;
  border-radius: 5px;
  background-color:gold;
  border: 0;
  cursor: pointer;
  font-weight: 600;
}